@import '../../App.module.scss';

.header {
  @include block;

  box-sizing: border-box;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  .rates-wrapper {
    display: flex;
    gap: 20px;
  }
}
